body {
  font-family: sans-serif;
  margin: 5%;
}

.task-incomplete {
  color: teal;
}
.task-complete {
  text-decoration: line-through;
  color: green;
}
.entry-area {
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 5%;
  box-shadow: 2px 2px 5px grey;
  align-content: middle;
}
